// =========================================================
// PIPELINE PARAMETERS
// =========================================================
params {
    // -----------------------------------------------------
    // User metadata
    // -----------------------------------------------------
    metadata = "${projectDir}/input/metadata/metadata.csv"

    // -----------------------------------------------------
    // Optional control sample IDs
    // -----------------------------------------------------
    controls = "SR_C1,SR_C2,SR_C3"

    // -----------------------------------------------------
    // Differential expression significance
    // -----------------------------------------------------
    de_significance = "fdr"
    de_cutoff = 0.05

    // -----------------------------------------------------
    // Visualization significance
    // Heatmap and volcano use the SAME threshold
    // -----------------------------------------------------
    visualization_significance = "qvalue"
    visualization_cutoff = 0.05

    // -----------------------------------------------------
    // Enrichment significance
    // -----------------------------------------------------
    enrichment_significance = "qvalue"
    enrichment_cutoff = 0.05

    // -----------------------------------------------------
    // nf-core/smrnaseq mature miRNA output files
    // -----------------------------------------------------
    smrna_counts = "${projectDir}/mature_counts.csv"
    smrna_logtpm = "${projectDir}/mature_logtpm.csv"

    // -----------------------------------------------------
    // Output directory
    // -----------------------------------------------------
    outdir = "${projectDir}/smRNA_results/smRNA_T_C"
}
